/* h1 {
    font-size: 60px;
    text-align:center;
    font-family: sans-serif;
    text-shadow:5px 5px 2px #0f0, 0 2px 2px #ef1c1c
}

h2 {
    color:#800080;
    font-style: italic;
    font-size: 50px;
}

h3 {
    color:#0f0;
}

button {
    color:rgb(255,255,255);
    background-color: rgb(0,0,0);
}

p {
    color:rgb(207,107,169);
    font-family: "Indie Flower";
    font-size: 35px;
    background-color: rgb(0,0,0);
}

div {
    font-weight: 100;
    font-size: 40px;
    line-height: 2;
    letter-spacing: 10px;
} */

