:root {
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
  }
  
  button {
    padding: var(--spacing-lg);
  }
  
  @media screen and (max-width: 800px) {
    button {
      padding: var(--spacing-md);
    }
  }
  
  @media screen and (max-width: 600px) {
    button {
      padding: var(--spacing-sm);
    }
  }

.box1 {
    width: 40%;
    height: 200px;
    background-color: aqua;
    float: left;
    margin-right: 20px;
}

.box2 {
    height: 200px;
    background-color: blueviolet;
    float: right;
    width: calc(60% - 20px);
}
  